.App {
	max-width: 1440px;
	margin: 0 auto;
	padding: 30px;
	background: #252835;
	height: 100vh;
}

.App-header {
	@include flex($justify: space-between);
	font-size: calc(10px + 2vmin);
	color: red;
	.title {
		font-size: 2rem;
		margin: 0;
	}
}

.search {
	border: 0;
	border: 1px solid #e5e5e5;
	width: 170px;
	font-size: 16px;
	background: #e5e5e5;
	padding: 5px;
	transition: background 0.3s;
	&:focus {
		outline: none;
	}
	&::placeholder {
		color: #21375c;
	}
	&.active {
		background: #00008b;
		color: #ffffff;
		font-weight: 600;
	}
}

.App-body {
	padding: 30px 0;
	color: #ffffff;
}

.search-info {
	font-size: 16px;
	@include flex($justify: space-between);
	.clear {
		cursor: pointer;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}
